* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}



body {
  background-color: rgb(36, 33, 33);
  font-size: 1.75rem;
  line-height: 1;
}

.header {
        padding: 20px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        background-color: rgb(36, 33, 33);
        color: #ffffff;
}

.header h1 {
    display: inline-block;
    font-size: 48px;
    color: goldenrod;
    background-color:  rgb(36, 33, 33);
}

/* stlying for the navigation bar */
.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.header nav ul {
    list-style-type: none;
}

.header nav ul li {
    display: inline-block;
    margin-left: 25px;
}
.header nav ul li a {
    color: goldenrod;
    list-style-type: none;
}
.backgroundImage {
    height: 220px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url(./images/honeycomb2.jpg);
    background-size: cover;
    background-position: center;
    display:flex;
    justify-content: flex-end;
    align-items: flex-end;
    float: clear;
}
.backgroundImage p {
    background-color: goldenrod;
    color: rgb(36, 33, 33);
    margin-bottom: 15px;
    padding: 10px;
    font-size: large;
    font-weight: bold;
    
}
.my-photo {
    align-self: center;
    margin-right: 8em;
    border-radius: 25%;
    
}

.content {
display: flex;
max-width: 100%;
}
.row {
    border-right: 3px solid goldenrod;
}


.about-me {
    width: 100%;
    padding-top: 1em;
    padding-bottom: 1em;
    display: flex;
    justify-content: flex-start;
}


.about-me h2 {
    color: goldenrod;
    padding-right: 1em;
    padding-left: 2em;
    /* border-right: 3px solid goldenrod; */
    flex-wrap: nowrap;
}

.about-me p {
    font-size: 0.7em;
    margin-left: 1em;
    color: goldenrod;
    font-family: monospace;
    align-self: center;
    
}

.grid-container {
    display: grid;
    grid-template-columns: 0.3fr 1.4fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "work main"
      "work main"
      "work main";
  }
  .work { grid-area: work; }
  .main { grid-area: 1 / 2 / 4 / 3; }
  .secondary {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
      ". ."
      ". .";
    grid-area: 3 / 2 / 4 / 3;
  }


.work {
    width: 100%;
    padding-top: 1em;
    padding-bottom: 1em;
    border-right: 3px solid goldenrod;
    display: flex;
    justify-content: flex-start;
}


.work h2 {
    color: goldenrod;
    padding-right: 1em;
    padding-left: 2.2em;
    
    flex-wrap: nowrap;
    align-self: center;
}

.large {
    /* padding-left: 7em;
    margin-bottom: 1em; */
    align-self: center;
}


.small {
    width: 300px;
    height: 200px;
    margin-left: 5em;
    margin-bottom: 1em;

}
.contact-me {
    width: 100%;
    padding-top: 1em;
    padding-bottom: 1em;
    
    display: flex;
    justify-content: flex-start;
}


.contact-me h2 {
    color: goldenrod;
    padding-right: 1em;
    padding-left: 1.2em;
    /* border-right: 3px solid goldenrod; */
    flex-wrap: nowrap;
    align-self: center;
}
.footer h2 {
    color: goldenrod;
   
    text-align: center;
}

.footer nav {
    padding-top: 15px;
    margin-bottom: 2em;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.footer nav ul {
    list-style-type: none;
}

.footer nav ul li {
    display: inline-block;
    margin-left: 25px;
}
.footer nav ul li a {
    color: goldenrod;
    list-style-type: none;
}
